{% extends 'base.html' %} 
{% block title %}영화 리뷰{% endblock title %} 
{% block style %}
{% endblock style %} 
{% block body %}
<table class="table table-hover w-75 m-auto">
  <thead>
    <tr>
      <th scope="col" class="text-center" style="width: 5%;">#</th>
      <th scope="col" class="text-center" style="width: 25%;">영화</th>
      <th scope="col" class="text-center">제목</th>
      <th scope="col" class="text-center" style="width: 20%;">작성자</th>
    </tr>
  </thead>
  <tbody>
    {% for review in reviews %}
    <tr>
      <th scope="row" class="text-center">{{ review.pk }}</th>
      <td class="text-center">{{ review.movie }}</td>
      <td onclick="location.href='{% url 'reviews:detail' review.pk %}'" style="cursor: pointer;">{{ review.title }}</td>
      <td class="text-center">{{ review.user }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock body %} 
{% block script %}
{% endblock script %}